@import "tailwindcss";
/* Make the whole page scroll vertically but hide scrollbar */
body, html, #root {
  height: 100%;
  overflow-y: scroll; /* enable vertical scrolling */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  width: 0; /* Safari and Chrome */
  background: transparent;
}
/* Make content scroll horizontally but hide scrollbar */
.horizontal-scroll {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
